<div class="container">
  <!-- Main Content -->
  <main class="main-content">
    <header class="header">
      <h1 class="page-title">Orders</h1>
      <div class="header-right">
        <div class="search-bar">
          <i class="fas fa-search search-icon"></i>
          <input
            type="text"
            class="search-input"
            placeholder="Search"
            [(ngModel)]="searchKeyword"
            (ngModelChange)="onSearchChange($event)"
          >
          </div>
      </div>
    </header>
  </main>

  <div class="card-table">
        <table >
            <thead>
                 <tr>
                  <th>ID</th>
                  <th>Email</th>
                  <th>Total Amount</th>
                  <th>Ordered At</th>
                  <th>Order Status</th>
                  <th>Action</th>
                </tr>
            </thead>
            <tbody>

              <tr *ngFor="let order of orders">
                  <td>{{ order.orderId }}</td>
                  <td>{{ order.email }}</td>
                  <td>{{ order.totalAmount }}</td>
                  <td>{{ order.createdAt | date: 'medium' }}</td>
                  <td>
                    <select (change)="onStatusChange($event, order)">
                      <option *ngFor="let status of statuses" [value]="status" [selected]="order.orderStatus === status">
                        {{ status }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <div class="pagination">
                    <button (click)="updateOrderStatus(order)" >Update</button>
                    </div>
                  </td>
                </tr>



                <!-- <tr>
                    <td>Argon Design System</td>
                    <td>$2,500 USD</td>
                    <td><span class="status pending">Pending</span></td>
                    <td><div class="completion"><div class="bar" style="width: 60%;"></div></div></td>
                </tr> -->
                <!-- <tr>
                    <td>Angular Now UI Kit PRO</td>
                    <td>$1,800 USD</td>
                    <td><span class="status completed">Completed</span></td>
                    <td><div class="completion"><div class="bar" style="width: 100%;"></div></div></td>
                </tr>
                <tr>
                    <td>Black Dashboard</td>
                    <td>$3,150 USD</td>
                    <td><span class="status delayed">Delayed</span></td>
                    <td><div class="completion"><div class="bar" style="width: 72%;"></div></div></td>
                </tr>
                <tr>
                    <td>React Material Dashboard</td>
                    <td>$4,400 USD</td>
                    <td><span class="status on-schedule">On Schedule</span></td>
                    <td><div class="completion"><div class="bar" style="width: 90%;"></div></div></td>
                </tr>
                <tr>
                    <td>Vue Paper UI Kit PRO</td>
                    <td>$2,200 USD</td>
                    <td><span class="status completed">Completed</span></td>
                    <td><div class="completion"><div class="bar" style="width: 100%;"></div></div></td>
                </tr> -->
            </tbody>
        </table>
        
        <div class="pagination">
          <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">&lt;</button>

          <button *ngFor="let page of [].constructor(totalPages); let i = index"
                  [class.active]="i === currentPage"
                  (click)="goToPage(i)">
            {{ i + 1 }}
          </button>

          <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages - 1">&gt;</button>
        </div>
    </div>
</div>