<div class="container">
  <!-- Main Content -->
  <main class="main-content">
    <header class="header">
      <h1 class="page-title">Products</h1>
      <div class="header-right">
        <div class="search-bar">
          <i class="fas fa-search search-icon"></i>

          <input
  type="text"
  class="search-input"
  placeholder="Search"
  [(ngModel)]="searchKeyword"
  (ngModelChange)="onSearchChange($event)"
>

         


        </div>
      </div>


    </header>
  </main>

  <div class="card-table">
        <table >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>     
                <tr *ngFor="let product of products">
                    <td>{{ product.productId }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price | currency:'USD' }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                          <button class="action-btn edit-btn">
                            <i class="fas fa-edit"></i>
                          </button>

                          <button class="action-btn delete-btn" (click)="confirmDelete(product.productId)">
                            <i class="fas fa-trash-alt"></i>
                          </button>

                    </td>
                </tr>
        </tbody>
        </table>

        <div class="pagination">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">&lt;</button>

  <button *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="i === currentPage"
          (click)="goToPage(i)">
    {{ i + 1 }}
  </button>

  <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages - 1">&gt;</button>
</div>

    </div>
  
</div>

<!-- Confirm Delete Popup -->
<div class="overlay" *ngIf="showConfirmDialog">
  <div class="confirm-dialog">
    <p>Are you sure you want to delete this product?</p>
    <div class="btn-group">
      <button class="yes-btn" (click)="deleteConfirmed()">Yes</button>
      <button class="cancel-btn" (click)="cancelDelete()">Cancel</button>
    </div>
  </div>
</div>