<aside class="sidebar">
  <div class="logo">
      <img class="logo-icon" src="assets/logo.png">
    <div class="logo-text">ShoeShow</div>
  </div>
             <!-- [routerLinkActiveOptions]="{exact: true}" -->
             <!-- <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> -->

  <nav>
    <ul class="nav-menu">
      <li class="nav-item">
        <a routerLink="/dashboard" 
           class="nav-link" 
           >
          <i class="nav-icon fas fa-tv"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/customers" 
           class="nav-link" 
           >
          <i class="nav-icon fas fa-users"></i>
          Customers
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/products" 
           class="nav-link" 
           >
          <i class="nav-icon fa-solid fa-box-open"></i>
          Products
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/orders" 
           class="nav-link" 
           >
          <i class="nav-icon fa-solid fa-boxes-stacked"></i>
          Orders
        </a>
      </li>
      
      <!-- <li class="nav-item">
        <a routerLink="/tables" 
           class="nav-link" 
           routerLinkActive="active">
          <i class="nav-icon fas fa-table"></i>
          Tables
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" (click)="logout()">
          <i class="nav-icon fas fa-sign-out-alt"></i>
          Logout
        </a>
      </li> -->
    </ul>
    
    <div class="nav-section">
      <div class="nav-section-title">Documentation</div>
      <ul class="nav-menu">
        <li class="nav-item">
          <a routerLink="/getting-started" 
             class="nav-link" 
             routerLinkActive="active">
            <i class="nav-icon fas fa-rocket"></i>
            Getting started
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/foundation" 
             class="nav-link" 
             routerLinkActive="active">
            <i class="nav-icon fas fa-palette"></i>
            Foundation
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/components" 
             class="nav-link" 
             routerLinkActive="active">
            <i class="nav-icon fas fa-cubes"></i>
            Components
          </a>
        </li>
      </ul>
    </div>
  </nav>
</aside>